*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.b1{
    text-align: right;
}
.login{
    height: fit-content;
    width: fit-content;
    position:absolute;
    top: 30%; 
    left:40%;
    text-align: center;
    border-style: solid;
}
.login h1{
    font-size: 40px;
}
.login .username-box{
    margin: 30px;
}
.username-box input{
    border-radius: 10px;
    height: 30px;
}
.username-box i{
    position: absolute;
    right: 15%;
    bottom: 56%;
}
.password-box input{
    border-radius: 10px;
    height: 30px;
}
.password-box i{
    position: absolute;
    right: 15%;
    bottom: 29%;
}



