*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.b1{
    text-align: right;
}
.login{
    height: 270px;
    width: fit-content;
    position:absolute;
    top: 50%; 
    left:50%;
    transform: translate(-50%,-80%);
    text-align: center;
    border-style: solid;
}
.login h1{
    font-size: 40px;
}
.EmailId-box{
    position:relative;
    margin-top: 7%;
}

.EmailId-box input{
    border-radius: 10px;
    height: 30px;
}
.EmailId-box i{
    position: absolute;
    right: 15%;
    bottom: 30%;
}

.password-box {
    position: relative;
    margin-top: 7%;
}
.password-box input{
    margin: 0;
    border-radius: 10px;
    height: 30px;
}
.password-box i{
    position: absolute;
    right: 15%;
    bottom: 29%;
}
.error{
    margin-top: 6%;
}



