*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.b1{
    text-align: right;
}
.login{
    height: 270px;
    width: fit-content;
    position:absolute;
    top: 50%; 
    left:50%;
    transform: translate(-50%,-80%);
    text-align: center;
    border-style: solid;
}
.login h1{
    font-size: 40px;
}
.EmailId-box{
    position:relative;
    margin-top: 7%;
}

.EmailId-box input{
    padding-left: 25px;
    padding-top: 10px;
    border-radius: 25px;
    height: 36px;
    width: 80%;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}
.EmailId-box i{
    position: absolute;
    margin-top: 7%;
    margin-left: 3%;
}

.password-box {
    position: relative;
    margin-top: 7%;
}
.password-box input{
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 25px;
    height: 36px;
    width: 80%;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}
.password-box i{
    position: absolute;
    margin-top: 7%;
    margin-left: 3%;
}
.error{
    margin-top: 6%;
}



