*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.b1{
    text-align: right;
}
.Register{
    height: fit-content;
    width: fit-content;
    position:absolute;
    top: 30%; 
    left:40%;
    text-align: center;
    border-style: solid;
}
.Register .Details{
    font-size: 40px;
}
.Register .Name{
    margin:10px;
}
.First_Name-box input{
    border-radius: 10px;
    height: 30px;
}
.Register .Last_Name{
    margin:10px;
} 
.Last_Name-box input{
    border-radius: 10px;
    height: 30px;
}
.Register .Username{
    margin:10px
}
.username-box input{
    border-radius: 10px;
    height: 30px;
}
.Register .Password{
    margin:10px;
}
.password-box input{
    border-radius: 10px;
    height: 30px;
}
.btn{
    margin:10px;
}



